In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
# df - Data Frame
df = pd.read_csv("Matteprov.csv")
#print(df)


# NaN - Not a Number (missing value i vårt fall)
# df.dropna() # kastar alla rader som innehåller NaN

# fyll alla NaN med noll
df = df.fillna(0)

# skapar en ny kolumn "Total" som tilldelas summan på varje rad.
df['Total'] = df.sum(axis=1)
df['Betyg'] = np.where(df['Total']>=8, "Godkänt", "Underkänt")
df.head()

   Elev  Uppg 1  Uppg 2  Uppg 3  Uppg 4  Uppg 5  Total      Betyg
0   Ada     3.0     0.0     2.0     3.0     0.0    8.0    Godkänt
1  Beda     2.0     3.0     1.0     3.0     3.0   12.0    Godkänt
2  Ceda     3.0     1.0     0.0     1.0     0.0    5.0  Underkänt
3  Deda     0.0     2.0     0.0     3.0     3.0    8.0    Godkänt
4   Eda     2.0     1.0     2.0     1.0     3.0    9.0    Godkänt

In [5]:
print(df["Elev"])
print(df["Betyg"])

0      Ada
1     Beda
2     Ceda
3     Deda
4      Eda
5     Feda
6     Geda
7     Heda
8      Ida
9     Keda
10    Leda
11    Meda
Name: Elev, dtype: object
0       Godkänt
1       Godkänt
2     Underkänt
3       Godkänt
4       Godkänt
5     Underkänt
6       Godkänt
7     Underkänt
8       Godkänt
9     Underkänt
10      Godkänt
11    Underkänt
Name: Betyg, dtype: object

In [6]:
# Plocka ut rader med index :)
df.iloc[2:5]

   Elev  Uppg 1  Uppg 2  Uppg 3  Uppg 4  Uppg 5  Total      Betyg
2  Ceda     3.0     1.0     0.0     1.0     0.0    5.0  Underkänt
3  Deda     0.0     2.0     0.0     3.0     3.0    8.0    Godkänt
4   Eda     2.0     1.0     2.0     1.0     3.0    9.0    Godkänt

In [7]:
## Conditional Filtering

df["Betyg"] == "Godkänt"

0      True
1      True
2     False
3      True
4      True
5     False
6      True
7     False
8      True
9     False
10     True
11    False
Name: Betyg, dtype: bool

In [8]:
df_godkända = df[df["Betyg"] == "Godkänt"]
df_godkända

    Elev  Uppg 1  Uppg 2  Uppg 3  Uppg 4  Uppg 5  Total    Betyg
0    Ada     3.0     0.0     2.0     3.0     0.0    8.0  Godkänt
1   Beda     2.0     3.0     1.0     3.0     3.0   12.0  Godkänt
3   Deda     0.0     2.0     0.0     3.0     3.0    8.0  Godkänt
4    Eda     2.0     1.0     2.0     1.0     3.0    9.0  Godkänt
6   Geda     3.0     1.0     1.0     2.0     3.0   10.0  Godkänt
8    Ida     2.0     1.0     2.0     2.0     3.0   10.0  Godkänt
10  Leda     3.0     1.0     2.0     1.0     3.0   10.0  Godkänt

In [9]:
df_underkänt = df[df["Betyg"] == "Underkänt"]
df_underkänt

    Elev  Uppg 1  Uppg 2  Uppg 3  Uppg 4  Uppg 5  Total      Betyg
2   Ceda     3.0     1.0     0.0     1.0     0.0    5.0  Underkänt
5   Feda     0.0     0.0     0.0     0.0     0.0    0.0  Underkänt
7   Heda     0.0     1.0     0.0     1.0     3.0    5.0  Underkänt
9   Keda     2.0     2.0     1.0     0.0     2.0    7.0  Underkänt
11  Meda     0.0     2.0     0.0     1.0     1.0    4.0  Underkänt